<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mcm.edu.ph.marcos_multicalc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Marcos_MultiCalc">
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.SphereFormulas.SphereVolume"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.SphereFormulas.SphereArea"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.OctahedronFormulas.OctahedronVolume"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.OctahedronFormulas.OctahedronArea"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.CylinderFormulas.CylinderVolume"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.CylinderFormulas.CylinderArea"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.CuboidFormulas.CuboidVolume"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.CuboidFormulas.CuboidArea"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.ConeFormulas.ConeVolume"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.ConeFormulas.ConeArea"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.Cylinder"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.Octahedron"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.Cone"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.Cuboid"
            android:exported="false" />
        <activity
            android:name="mcm.edu.ph.marcos_multicalc.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>